<md-toolbar ng-controller="NavbarController">
  <div class="md-toolbar-tools"  ngCloak>
    <span>Auctions game !</span>
    <span flex></span>
    <div ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></div>
    <div ng-show="nav.isLoggedIn()"><p class="navbar-text">User: {{ nav.getCurrentUser().name }}</p></div>
    <!-- <img ng-show="nav.isLoggedIn()" src="assets/images/coin.jpg" width="50" height="50" alt="coins"> -->
    <md-button href="/logout" ng-show="nav.isLoggedIn()">
      Logout
    </md-button>
  </div>
</md-toolbar>
